/*Layouts*/

.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{
    background-color: #ac9867;
}
.dhxacc_base_material div.dhx_cell_acc div.dhx_cell_hdr {
    color:#ac9867;
}

.dhtmlx-error, .dhtmlx-error div{
    background-color: #e74c3c ;
    font-weight: bold;
    color:white;
}

.dhxacc_base_material div.dhx_cell_acc.dhx_cell_closed div.dhx_cell_hdr {
    color: #ac9867;
}


.dhxtabbar_base_material div.dhxtabbar_tabs {
    background-color:#ac9867;
    line-height: 42px;
    white-space: nowrap;
    font-size: 14px;
    font-family: Roboto,Arial,Helvetica;
    color: #FBFBEF;

}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab.dhxtabbar_tab_actv{
    color: #FBFBEF;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text{
    background-color:#ac9867 !important;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left div.dhxtabbar_tab{
    background-color:#ac9867 !important;
}
.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{background-color:#ac9867;color:#FBFBEF;border:1px solid #f8e0a4;}
.dhxlayout_base_material div.dhxlayout_resize_sep{background-color:#ac9867;color:black;}
.dhtmlxMenu_material_Middle img.dhtmlxMenu_TopLevel_Item_Icon {
    float: left;
    margin: 1px 0px 0 3px;
    width: 40px;
    height: 26px;
    cursor: default;
}

a {
    color: #ac9867;
}
a:hover {
    color: #ac9867;
    background-color: #f8e0a4;
}
/*Boton acceder de loggin*/
.btn-primary:hover {
    color: #fff;
    background-color: #ac9867;
    border-color: #f8e0a4;
}
.btn-primary:focus {
    color: #fff;
    background-color: #ac9867;
    border-color: #f8e0a4;
}
.btn {
    color: #fff;
    background-color: #ac9867;
    border-color: #f8e0a4;
}
.btn btn-lg btn-primary btn-block{
    background-color: #ac9867;
}
.btn-primary{
    background-color: #ac9867;
}
.btn btn-lg btn-primary btn-block:focus{
    background-color: #ac9867;
}

/*Inputs seleccionados*/
.dhxform_obj_material input.dhxform_textarea:focus, .dhxform_obj_material textarea.dhxform_textarea:focus {
    border-bottom-color: #f8e0a4;
}
.dhxform_obj_material div.dhxform_btn:focus {
    border-color:#f8e0a4;
}
.dhxform_textarea:focus {
    border-bottom:1px solid #f8e0a4;
}
.btn btn-lg btn-primary btn-block{
    background-color: #ac9867;
}
/*borde ventana winds */
.dhxwins_vp_material div.dhxwin_hdr{
    background-color:#ac9867;
    border:1px solid #f8e0a4;
}

.dhxwins_vp_material div.dhxwin_brd{
    border-bottom:1px solid #f8e0a4;
    border-left:1px solid #f8e0a4;
    border-right: 1px solid #f8e0a4;
}

.form-control:focus{
    border:1px solid #f8e0a4;
}

.dhxform_control:focus{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: red;
}

div.dhxcombo_material.dhxcombo_actv {
    border-bottom: 2px solid #f8e0a4 !important;
}
div.gridbox_material.gridbox table.obj tr.rowselected td:first-child {
    border-left: 2px solid transparent !important;
}


.loading_class {
    width: 200px;
}