/*Layouts*/
/*
.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{
    background-color: #7f052a;
}
.dhxacc_base_material div.dhx_cell_acc div.dhx_cell_hdr {
    color:#7f052a;
}

.dhtmlx-error, .dhtmlx-error div{
    background-color: #e74c3c ;
    font-weight: bold;
    color:white;
}

.dhxacc_base_material div.dhx_cell_acc.dhx_cell_closed div.dhx_cell_hdr {
    color: #7f052a;
}


.dhxtabbar_base_material div.dhxtabbar_tabs {
    line-height: 42px;
    white-space: nowrap;
    font-size: 14px;
    font-family: Roboto,Arial,Helvetica;
    color: #FBFBEF;

}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab.dhxtabbar_tab_actv{
    background-color:#7f052a;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text{
    color: #7f052a;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left div.dhxtabbar_tab{
}
.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{background-color:#7f052a;color:#FBFBEF;border:1px solid #f8e0a4;}
.dhxlayout_base_material div.dhxlayout_resize_sep{background-color:#7f052a;color:black;}
.dhtmlxMenu_material_Middle img.dhtmlxMenu_TopLevel_Item_Icon {
    float: left;
    margin: 1px 0px 0 3px;
    width: 40px;
    height: 26px;
    cursor: default;
}

a {
    color: #7f052a;
}
a:hover {
    color: #7f052a;
    background-color: #f8e0a4;
}*/
/*Boton acceder de loggin*/
/*.btn-primary:hover {
    color: #fff;
    background-color: #7f052a;
    border-color: #f8e0a4;
}
.btn-primary:focus {
    color: #fff;
    background-color: #7f052a;
    border-color: #f8e0a4;
}
.btn {
    color: #fff;
    background-color: #7f052a;
    border-color: #f8e0a4;
}
.btn btn-lg btn-primary btn-block{
    background-color: #7f052a;
}
.btn-primary{
    background-color: #7f052a;
}
.btn btn-lg btn-primary btn-block:focus{
    background-color: #7f052a;
}

/*Inputs seleccionados
.dhxform_obj_material input.dhxform_textarea:focus, .dhxform_obj_material textarea.dhxform_textarea:focus {
    border-bottom-color: #f8e0a4;
}
.dhxform_obj_material div.dhxform_btn:focus {
    border-color:#f8e0a4;
}
.dhxform_textarea:focus {
    border-bottom:1px solid #f8e0a4;
}
.btn btn-lg btn-primary btn-block{
    background-color: #7f052a;
}
/*borde ventana winds 
.dhxwins_vp_material div.dhxwin_hdr{
    background-color:#7f052a;
    border:1px solid #f8e0a4;
}

.dhxwins_vp_material div.dhxwin_brd{
    border-bottom:1px solid #f8e0a4;
    border-left:1px solid #f8e0a4;
    border-right: 1px solid #f8e0a4;
}

.form-control:focus{
    border:1px solid #f8e0a4;
}

.dhxform_control:focus{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: red;
}

div.dhxcombo_material.dhxcombo_actv {
    border-bottom: 2px solid #f8e0a4 !important;
}



table.obj tr.rowselected td {
    background-color: #e0c5ce !important;
}

.loading_class {
    width: 200px;
}



/*====== ICONS ====
i{
    color: #4d052a !important;
    padding: 0 5px;
}
i.fa-file-excel{
    color: #007D3D !important;
}



ALERTAS
.dhtmlx-error, .dhtmlx-error div{
    background-color:#f2dede;
    border-color: #ebccd1;
    color:#b94a48;
}
.dhtmlx-ok, .dhtmlx-ok div{
    background-color:#dff0d8;
    border-color: #d6e9c6;
    color:#468847;
}
.dhtmlx-informacio, .dhtmlx-informacio div{
    background-color:#d9edf7;
    border-color: #bce8f1;
    color:#3a87ad;
}
.white{
    color: white !important;
}


.hover {
    background-color: #eee;
}


.formBig input{
    font-size:24px !important;
}
*/